.header {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: space-between;
}

  .searchbar-container {
    background-color: lightblue;
    width: 200px;;
  }


  .edit-container {
    background-color: lightpink;
    width: 40px;
  }