.quote-container {
  background-color: rgb(157, 157, 246);
  width: 400px;
  height: 300px;
  justify-content: center; 
  align-items: center;
}

  .nested-layout {
    display: inline-block;
  }

  #output {
    font-size: 20px;
  }


  .add-button,
  .remove-button {
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
  }

  .add-button:hover,
  .remove-button:hover {
    opacity: 0.6;
    transition: 0.3s;
  }

  .add-button:active,
  .remove-button:active {
    transition: 0.3s;
  }


  .remove-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #f44336; /* Red background color */
    color: #fff; /* White text color */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .forward-arrow,
  .backward-arrow {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .next-quote,
  .last-quote{
    width: 100px;
    background: none;
    border: solid;
    background-color: transparent;
  }
